@font-face {
    font-family: myrobot lite;
    src: url("fonts/Playwrite_RO/static/PlaywriteRO-Light.ttf");
}

@font-face {
    font-family: satisify123;
    src: url("fonts/Satisfy/Satisfy-Regular.ttf");
}

