body{
    background-color: purple;
}
#mymenu{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    color: black;
}
a[target]{
    font-size: 2em;

}

h1{
    color: red;
}

a[target=_blank]{
    color: goldenrod;
    text-decoration: dotted;
}
